body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #87cefa;
}

.parent {
    padding: 30px;
    border-style: inset;
    border-color: coral;
    border-width: 7px;
    background-color: #fff;
}

fieldset {
    padding: 10px;
    border-style: inset;
    border-color: coral;
    border-width: 2px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* ----------------------------- Textfield ------------------------------ */
.mds-text-field__input {
    width: 280px;
    height: 56px;
    padding-left: 12px;
    background-color: #ebe5f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
}

.mds-text-field {
    position: relative;
    margin-top: 20px;
}

.mds-text-field__label {
    position: absolute;
    bottom: 20px;
    left: 12px;
    transition: all 150ms ease-out;
    color: #9E9E9E;
    pointer-events: none;
}
/* label animation */
.mds-text-field__label--focussed {
    top: 5px;
    left: 12px;
    color: #3700b3;
    font-size: 12px;
    font-weight: bold;
}
/* Input box color change after focus */
.mds-text-field__input--focussed {
    width: 280px;
    height: 56px;mds-text-field__label--focussedColor
    padding-left: 12px;
    background-color: #d7ccef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
}
/* label color change after focus */
.{
    color: #757575;
}
/* input box underline before focus */
.mds-text-field__underline {
    width: 280px;
    border-bottom: 2px solid #999;
}
/* input box underline after focus */
.mds-text-field__underline--focussed {
    border-bottom: 2px solid #3700b3;
    background-color: #E8E8E8;
}

/* ----------------------------- End of Textfield ------------------------------ */

/* ----------------------------- Switch ------------------------------ */
.mds-switch__label {
    position: relative;
    display: block;
    height: 14px;
    width: 36px;
    background: #D0D0D0;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mds-switch__label:after {
    position: absolute;
    left: -2px;
    bottom: -2px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0 3px 3px black;
    content: '';
    transition: all 0.3s ease;
}

.mds-switch__label:active:after {
    transform: scale(1.15, 0.85);
    /* box-shadow: 0px 0px 0px 36px #F8F8F8; */
}

.mds-switch__input:checked~label {
    background: #997DD8;
}

.mds-switch__input:checked~label:after {
    left: 20px;
    background: #3700b3;
}

/* Hide the browser's default switch */
.mds-switch__input--hidden {
    display: none;
}

.mds-switch__text {
    margin-left: 45px;
    width: 100%;
}

/* ----------------------------- End of Switch ------------------------------ */

/* ----------------------------- Checkbox ------------------------------ */
.mds-checkbox__label {
    position: relative;
    cursor: pointer;
    padding-left: 5px;
}

/* Hide the browser's default checkbox */
.mds-checkbox__input {
    position: absolute;
    opacity: 0;
}

/* Create custom checkbox */
.mds-checkbox__checkmark {
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 3px;
    border: 3px solid gray;
}

/* On mouse-over, add background color */
.mds-checkbox__label:hover .mds-checkbox__input~.mds-checkbox__checkmark {
    background-color: #F8F8F8;
    transition: .2s;
}

/* When the checkbox is checked, add background and text color */
.mds-checkbox__label .mds-checkbox__input:checked~.mds-checkbox__checkmark {
    background-color: #3700b3;
    border: 3px solid #3700b3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.mds-checkbox__checkmark:after {
    position: absolute;
    display: none;
    content: "";

    left: 5px;
    top: 0px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Show the checkmark when checked */
.mds-checkbox__label .mds-checkbox__input:checked~.mds-checkbox__checkmark:after {
    display: block;
}

.mds-checkbox__text {
    margin-left: 45px;
    margin-top: -15px;
}

/* ----------------------------- End of Checkbox ------------------------------ */

/* ----------------------------- Radio button ------------------------------ */
.mds-radio__label {
    position: relative;
    cursor: pointer;
    margin-left: 5px;
}

/* Hide the browser's default radio button */
.mds-radio__input {
    position: absolute;
    opacity: 0;
}

/* Create custom radio button */
.mds-radio__checkmark {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #3700b3;
}

/* On mouse-over, add background color */
.mds-radio__label:hover .mds-radio__input~.mds-radio__checkmark {
    background-color: #E8E8E8;
    transition: .2s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.mds-radio__checkmark:after {
    content: "";
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3700b3;
    top: 4px;
    left: 5px;
    /* keeping inner cirle at the center of bigger circle */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Show the radio button when checked */
.mds-radio__label .mds-radio__input:checked~.mds-radio__checkmark:after {
    display: block;
}

.mds-radio__text {
    margin-left: 45px;
    margin-top: -15px;
}
/* ----------------------------- End of Radio button ------------------------------ */