body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

/* ----------------------------- Textfield ------------------------------ */
.mdc-text-field__input {
    width: 280px;
    height: 56px;
    padding-left: 12px;
    background-color: #F8F8F8;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    b box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
}

.mdc-text-field {
    position: relative;
    margin-top: 20px;
}

.mdc-floating-label {
    position: absolute;
    bottom: 20px;
    left: 12px;
    font-size: 16px;
    /* transition: o.5s; */
    transition: top .5s ease-in 0s;
    color: #9E9E9E;
    pointer-events: none;
}

/*  
focus allows to change label's position
valid keeps label stable after removing focus
*/
.mdc-text-field__input:focus~label,
.mdc-text-field__input:valid~label {
    top: 5px;
    left: 12px;
    color: #3F51B5;
    font-size: 12px;
    font-weight: bold;
}

.mdc-text-field__input:focus,
.mdc-text-field__input:valid {
    border-bottom: 2px solid #3F51B5;
    background-color: #E8E8E8;
}

/* ----------------------------- End of Textfield ------------------------------ */

/* ----------------------------- Switch ------------------------------ */
.mdc-switch__label {
    position: relative;
    display: block;
    height: 14px;
    width: 36px;
    background: #D0D0D0;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mdc-switch__label:after {
    position: absolute;
    left: -2px;
    bottom: -2px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0 3px 3px black;
    content: '';
    transition: all 0.3s ease;
}

.mdc-switch__label:active:after {
    transform: scale(1.15, 0.85);
    /* box-shadow: 0px 0px 0px 36px #F8F8F8; */
}

.mdc-switch__native-control:checked~label {
    background: #6fbeb5;
}

.mdc-switch__native-control:checked~label:after {
    left: 20px;
    background: #179588;
}

.mdc-switch__native-control:disabled~label {
    background: #d5d5d5;
    pointer-events: none;
}

.mdc-switch__native-control:disabled~label:after {
    background: #bcbdbc;
}

.hidden {
    display: none;
}

.labelText {
    font-size: 16px;
    margin-left: 65px;
    top: 15px;
}

/* ----------------------------- End of Switch ------------------------------ */

/* ----------------------------- Checkbox ------------------------------ */
.mdc-checkbox__label {
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    margin-bottom: 12px;
}

/* Hide the browser's default checkbox */
.mdc-checkbox__native-control {
    position: absolute;
    opacity: 0;
}

/* Create custom checkbox */
.checkmark {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 2px solid gray;
}

/* On mouse-over, add a grey background color */
.mdc-checkbox__label:hover .mdc-checkbox__native-control~.checkmark {
    background-color: #F8F8F8;
    transition: .2s;
}

/* When the checkbox is checked, add a green background */
.mdc-checkbox__label .mdc-checkbox__native-control:checked~.checkmark {
    background-color: mediumseagreen;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    position: absolute;
    display: none;
    content: "\2714";
    /* CSS CODE: 2714 */
    color: white;
    /* css code */
    font-size: 24px;
    /* css code */
    margin-left: 2px;
    /* css code */
    margin-top: -5px;
}

/* Show the checkmark when checked */
.mdc-checkbox__label .mdc-checkbox__native-control:checked~.checkmark:after {
    display: block;
}

.checkboxText {
    font-size: 16px;
    margin-left: 80px;
    margin-top: -15px;
}

/* ----------------------------- End of Checkbox ------------------------------ */

/* ----------------------------- Radio button ------------------------------ */
.mdc-radio__label {
    position: relative;
    cursor: pointer;
    margin-left: 5px;
}

/* Hide the browser's default radio button */
.mdc-radio__native-control {
    position: absolute;
    opacity: 0;
}

/* Create custom radio button */
.checkmarkRadio {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid gray;
}

/* On mouse-over, add a grey background color */
.mdc-radio__label:hover .mdc-radio__native-control~.checkmarkRadio {
    background-color: #E8E8E8;
    transition: .2s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkRadio:after {
    content: "";
    position: absolute;
    display: none;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: mediumseagreen;
    margin-left: 5.5px;
    margin-top: 5px;
}

/* Show the radio button when checked */
.mdc-radio__label .mdc-radio__native-control:checked~.checkmarkRadio:after {
    display: block;
}

.radioText {
    font-size: 16px;
    margin-left: 40px;
    margin-top: -15px;
}
/* ----------------------------- End of Radio button ------------------------------ */